<html ng-app="BlaJuke" ng-controller="MainController">
	<head>
		<title>BlaJuke</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>
				BlaJuke - {{ data.userCount }} users
				<span class="pull-right">
					<a href="/player.html" target="_blank">
						Open Player
					</a>
				</span>
			</h1>
			<div class="row">
				<div class="col-md-6">
					<div class="block">
						<h3>Add video</h3>
						<form ng-submit="searchVideos()">
							<input type="text" class="form-control" placeholder="Enter youtube video id" ng-model="data.searchText">
						</form>
						
						<ul class="list-group">
							<li class="list-group-item song-result"
									ng-repeat="video in data.searchResult"
									ng-click="addToQueue(video)">
								<div class="row">
									<div class="col-xs-3">
										<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="song-image">
									</div>
									<div class="col-xs-9">
										<b>{{ video.snippet.title }}</b><br />
										<small>{{ video.snippet.channelTitle }}</small>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="block">
						<h3>Next random</h3>
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3">
										<img ng-src="{{ data.nextRandom.thumbnail }}" class="song-image">
									</div>
									<div class="col-xs-9">
										<b>{{ data.nextRandom.title }}</b><br />
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="block">
						<div class="current-song">
							<h3>
								{{ data.currentVideo.title }}<br />
								<small>({{ data.currentVideo.voteCount }} votes)</small>
							</h3>
							<img ng-src="{{ data.currentVideo.thumbnail }}">
						</div>
					</div>
					<div class="block">
						<h3>Playlist</h3>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="video in data.playlist">
								<b>{{ video.title }}</b> - {{ video.voteCount }}
								<span class="pull-right">
									<a ng-click="vote(video.videoId, true)" ng-hide="video|voteStatus:true" class="vote-button">Up</a>
									<a ng-click="vote(video.videoId, false)" ng-hide="video|voteStatus:false" class="vote-button">Down</a>
								</span>
							</li>
						</ul>
					</div>
					<div class="block">
						<h3>History</h3>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="video in data.history">
								<b>{{ video.title }}</b> - {{ video.voteCount }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<footer>
				<br />
				<hr />
				<small>
					&copy; BlaLabs
					
				</small>
			</footer>
		</div>
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-youtube.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
