body {
	background-color: #22242a;
}

h1 {
	color: white;
}
h1 a {
	color: white;
}

footer {
	color: white;
}

.block {
	margin-top: 10px;
	background-color: white;
	width: 100%;
	padding: 10px;
	border-radius: 4px;
}

.song-result {
	cursor: pointer;
}

.song-image {
	width: 100%;
	max-width: 64px;
}

.current-song {
	text-align: center;
}

.vote-button {
	cursor: pointer;
}
